{% extends "base.html" %}
{% load i18n %}
{% block page_content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% trans "Detail post" %}</title>
    </head>
    <div class="col-md-8 offset-md-2">
        <h1>{{ post.title }}</h1>
        <small>
            {{ post.created|date:"d.m.Y H:i:s" }} |&nbsp;
            {% if comments %}
                {% trans 'Comments' %}: {{ comments|length }}&nbsp;
            {% else %}
                {% trans "There isn't any comment" %}
            {% endif %}
        </small>
        <p>{{ post.body | linebreaks }}</p>
        {% if post.image and post.image.name != 'False' %}
            <img src="{{ post.image.url }}" alt=""
                 width="800px" height="800px">
        {% endif %}
        {% if request.user.id == post.profile.id %}
            <form action="/blog/edit/post/{{ post.id }}" method="get">
                <button class="btn btn-primary" type="submit" data-toggle="collapse"
                        data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">{% trans "Edit post" %}
                </button>
            </form>
        {% endif %}
        <h3>{% trans "Leave a comment" %}: </h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if not request.user.is_authenticated %}
                <div class="form-group">
                    {{ form.author }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form.body }}
            </div>
            <div class="form-group">
                {% trans "image" %}: {{ form.image }}
            </div>
            <button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">{% trans "Submit" %}</button>
        </form>
        {% if comments %}
            <h3>{% trans "Comments" %}:</h3>
            {% for comment in comments %}
                {% if not comment.following_comment_id %}
                    <b>{{ comment.author }}</b> {% trans "wrote at" %} {{ comment.created|date:"H:i:s d.m.Y" }}
                    <p>{{ comment.body }}</p>
                    {% if comment.image %}
                        <img src="{{ MEDIA_URL }}{{ comment.image.url }}" alt="" width="30%" height="30%">
                    {% endif %}
                    {% if request.user.id == comment.user.id %}
                        <form action="/blog/edit/comment/{{ comment.id }}" method="get">
                            <button class="btn btn-primary" type="submit" data-toggle="collapse"
                                    data-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample">{% trans "Edit commentary" %}
                            </button>
                        </form>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        {% trans 'Answer' %}
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'Answer' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" enctype="multipart/form-data"
                                          action="{% url 'create_follow_com' %}">
                                        {% csrf_token %}
                                        {% if not request.user.is_authenticated %}
                                            <div class="form-group">
                                                {{ form.author }}
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            {{ form.body }}
                                        </div>
                                        <div class="form-group">
                                            {% trans "image" %}: {{ form.image }}
                                        </div>
                                        <input hidden="hidden" required type="text" name="parent_comment_id"
                                               value={{ comment.id }}>
                                        <input hidden="hidden" required type="text" name="current_post_id"
                                               value={{ post.id }}>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" data-toggle="collapse"
                                                    data-target="#collapseExample"
                                                    aria-expanded="false"
                                                    aria-controls="collapseExample">{% trans "Submit" %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% for following_comment in comment.followingcomment_set.all %}
                        <b class="p-3">{{ following_comment.author }}</b> {% trans "wrote at" %}
                        {{ comment.created|date:"H:i:s d.m.Y" }}
                        <p>{{ following_comment.body }}</p>
                        {% if following_comment.image %}
                            <img src="{{ MEDIA_URL }}{{ following_comment.image.url }}" alt="" width="30%" height="30%">
                        {% endif %}
                        {% if request.user.id == following_comment.user.id %}
                            <form action="{% url 'edit_follow_com' following_comment.pk %}" method="get">
                                <button class="btn btn-primary" type="submit" data-toggle="collapse"
                                        data-target="#collapseExample"
                                        aria-expanded="false"
                                        aria-controls="collapseExample">{% trans "Edit commentary" %}
                                </button>
                            </form>
                        {% endif %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            {% trans 'Answer' %}
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Answer' %}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" enctype="multipart/form-data"
                                              action="{% url 'create_follow_com' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {{ form.body }}
                                            </div>
                                            <div class="form-group">
                                                {% trans "image" %}: {{ form.image }}
                                            </div>
                                            <input hidden="hidden" required type="text" name="parent_comment_id"
                                                   value={{ following_comment.id }}>
                                            <input hidden="hidden" required type="text" name="current_post_id"
                                                   value={{ post.id }}>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" data-toggle="collapse"
                                                        data-target="#collapseExample"
                                                        aria-expanded="false"
                                                        aria-controls="collapseExample">{% trans "Submit" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
            <h3>{% trans "There isn't any comment yet" %}</h3>
        {% endif %}
    </div>
{% endblock %}